<div id="login" class="container login-center" style="width: 500px; margin: auto">

    <form>

        <h2 class="title-login">RequestNow</h2>

        <div class="input-field">
          <input [(ngModel)]="user.name" name="login" id="login" type="text" autofocus required/>
          <label for="login">Login</label>
        </div>

        <div class="input-field">
          <input [(ngModel)]="user.password" name="password" type="password" id="pass" required/>
          <label for="pass">Senha</label>
        </div>

        <button class="btn btn-login" type="button" (click)="login( user )"> Sign in</button>

    </form>

    <div id="error-login" style="display: none">
        ERRO: Login ou senha incorretos
    </div>
</div>
