<nav *ngIf="hasLogin()">
  <div class="nav-wrapper">
    <img style="width: 45px; margin: 10px;" src="favicon.ico"/>
    <a routerLink="/home" class="brand-logo">
      RequestNow
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a role="div" class="dropdown-button" onclick="dropdown( this )" data-activates="dropdown">
          <div>
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>{{getName()}}</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </a>
        <ul id='dropdown' class='dropdown-content'>
          <li>
            <a role="div" (click)="logout()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
    <home-button *ngIf="hasLogin()" class="col s2"></home-button>
    <router-outlet></router-outlet>
</div>
