/**
 * variables
 */
@main-color: #607D8B;
@main-color-hover: #78909c;
@back-color: #ECEFF1;
@main-color-black: #455a64;
@main-color-light: #b0bec5;
@main-color-light2: #cfd8dc;
@color-revenue: #5cb85c;
@color-cost:  #d9534f;

.btn-login
{
	  color: @back-color !important;
    background-color: @main-color;
    border: 2px solid @main-color !important;
    font-weight: bold !important;
    border-radius: 10px !important;
    margin-top: 7px;
    width: 100%;
}

#error-login
{
	  font-weight: bold;
    padding: 2px 12px;
    border-radius: 10px;
    display: none;
}

.title-login
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: @main-color;
}

.show
{
  display: block;
}

.hide
{
  display: none;
}

/**
 * Override  Material
 */
a
{
    cursor: pointer;
}

nav
{
  background-color: @main-color;
}

body
{
   background-color: @back-color !important;
   height: 100%;
   overflow: hidden;
}

ul
{
   padding: 0px;
 }

label
{
  color : @main-color !important;
}

input:focus,
textarea:focus
{
  border-bottom: 1px solid @main-color-hover !important;
  box-shadow: 0 1px 0 0 @main-color-hover !important;
}

.input-field label
{
  color: @main-color !important;
}

.btn:hover,
.btn:focus
{
  background-color: @main-color-hover;
}

.dropdown-content
{
    background-color: @main-color !important;
    color: @back-color !important;
}

.dropdown-content:hover
{
    background-color: @back-color !important;
    color: @main-color !important;
}

.dropdown-content>li>a
{
    color: @back-color;
}

.dropdown-content li:hover,
.dropdown-content li.active,
.dropdown-content li.selected,
.dropdown-content>li>a:hover
{
    color: @main-color !important;
}

.material-icons
{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v20/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
