<ul class="collapsible content" data-collapsible="accordion">
   <li>
      <div routerLink="/request" class="collapsible-header">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Requisições
      </div>
   </li>
   <li>
      <div routerLink="/dispatch" class="collapsible-header">
          <i class="fa fa-gavel" aria-hidden="true"></i>
          Despachos
      </div>
   </li>
   <li>
      <div class="collapsible-header">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          Relatórios
      </div>
   </li>
   <li>
      <div onclick="collapsible( this )" class="collapsible-header">
          <i class="fa fa-database" aria-hidden="true"></i>
          Cadastros
      </div>
      <div class="collapsible-body">
        <div routerLink="/user" class="collapsible-header">
            <i class="fa fa-user" aria-hidden="true"></i>
            Usuários
        </div>
        <div class="collapsible-header">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
            Setores
        </div>
        <div class="collapsible-header">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
            Tipos
        </div>
        <div class="collapsible-header">
            <i class="fa fa-reorder" aria-hidden="true"></i>
            Categorias
        </div>
        <div class="collapsible-header">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            Campos
        </div>
        <div class="collapsible-header">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            Rotas
        </div>
        <div class="collapsible-header">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            Permissões
        </div>
      </div>
   </li>
</ul>
